---
import Layout from "../../../layouts/Layout.astro"
import NavigationBar from "../../../components/react/NavigationBar.tsx"
import BottomOverlay from "../../../components/react/BottomOverlay.tsx"

import {Page, Main} from "../../../components/react/PageContainer.tsx"
import ThanksForPayment from "../../../components/services-checkout-completed/react/ThanksForPayment.tsx"

const title = "Checkout Completed"
---
<Layout title={title}>
    <Page>
        <NavigationBar client:load title={title}/>

        <Main><ThanksForPayment/>
        <BottomOverlay client:load/>
        </Main>
    </Page>
</Layout>
