---
import Layout from "../../../layouts/Layout.astro"
import NavigationBar, {DrawerToggleButton} from "../../../components/react/NavigationBar.tsx"
import {Page, Main} from "../../../components/react/PageContainer.tsx"
import ThanksForPayment from "../../../components/services-checkout-completed/react/ThanksForPayment.tsx"

const title = "Checkout Completed"
---
<Layout title={title}>
    <Page>
        <NavigationBar title={title}>
            <DrawerToggleButton client:load slot="drawer" title={title}/>
        </NavigationBar>
        <Main><ThanksForPayment/></Main>
    </Page>
</Layout>
