---
const title = "FAQ";

import NavigationBar, {DrawerToggleButton} from '../components/react/NavigationBar.tsx';
import WIP from '../components/react/WIP.tsx';
import Layout from '../layouts/Layout.astro';
import {Page, Main} from "../components/react/PageContainer"

---
<Layout title={title}>
    <Page>
        <NavigationBar title={title}>
            <DrawerToggleButton client:load slot="drawer" title={title}/>
        </NavigationBar>
        <Main><WIP/></Main>
    </Page>
</Layout>
