---
import {Page, Main} from "../components/react/PageContainer"
import NavigationBar, {DrawerToggleButton} from '../components/react/NavigationBar.tsx';
import ResumeLoader from "../components/resume/react/ResumeLoader.tsx"
import Layout from '../layouts/Layout.astro';
const title = "Resume"
---

<Layout title={title}>
    <Page>
        <NavigationBar title={title}>
            <DrawerToggleButton client:load slot="drawer" title={title}/>
        </NavigationBar>
        <Main>
            <ResumeLoader client:load/>
        </Main>
    </Page>

</Layout>