---
import {Page, Main} from "../components/react/PageContainer"
import NavigationBar, {DrawerToggleButton} from '../components/react/NavigationBar.tsx';
import ResumeLoader from "../components/resume/react/ResumeLoader.tsx"
import Layout from '../layouts/Layout.astro';
import OverlayButtons from "../components/react/OverlayButtons";

const title = "Resume"
---

<Layout title={title} description="Explore David's resume, highlighting his skills and experience. Learn more about his professional background and qualifications.">
    <Page>
        <NavigationBar title={title}>
            <DrawerToggleButton client:load slot="drawer" title={title}/>
        </NavigationBar>
        <Main>
            <ResumeLoader client:load/>
            <OverlayButtons client:load/>
        </Main>
    </Page>

</Layout>