---
import {Page, Main} from "../components/react/PageContainer"
import NavigationBar from '../components/react/NavigationBar.tsx';
import ResumeLoader from "../components/resume/react/ResumeLoader.tsx"
import Layout from '../layouts/Layout.astro';
import BottomOverlay from "../components/react/BottomOverlay";

const title = "Resume"
---

<Layout title={title} description="Explore David's resume, highlighting his skills and experience. Learn more about his professional background and qualifications.">
    <script is:inline slot="extra" src="https://neviaumi.github.io/resume.json/json-resume.element.js" type="module" async defer/>
    <Page>
        <NavigationBar client:load title={title}/>

        <Main>
            <ResumeLoader client:load/>
            <BottomOverlay client:load/>
        </Main>
    </Page>

</Layout>