---

import NavigationBar from '../components/react/NavigationBar.tsx';
import Layout from '../layouts/Layout.astro';
import {Page, Main} from "../components/react/PageContainer"
import SkillSection from "../components/skills/react/SkillSection.tsx"
import cms from "../cms.ts";
import BottomOverlay from "../components/react/BottomOverlay";

import Query from "../components/skills/query.graphql"
const {page} = await cms.gqlRequest(Query).then(data => data.data)
const title = page.title;
const skills = page.skillsRef.sections;

---
<Layout title={title} description={"I am an experienced software engineer specializing in backend and frontend development, automated testing, cloud infrastructure, and Agile collaboration. Skilled in Node.js, React, CI/CD, cloud services (AWS, GCP), and testing frameworks like Jest and Cypress. Strong expertise in building scalable applications and working in Agile teams."}>
    <Page>
        <NavigationBar client:load title={title}/>

        <Main sx={{
            display: 'flex',
            flexDirection: 'column',
            gap: 1
        }}>
            {skills.map(skill => (<SkillSection section={skill}/>))}
            <BottomOverlay client:load/>
        </Main>
    </Page>
</Layout>
